@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* shake animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(8px);
  }
  75% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0px);
  }
}

.shake {
  animation: shake 0.4s;
  animation-iteration-count: 2;
}
/* end shake animation */

/* hide scrollbar */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
/* end hide scrollbar */

/* card animation */
.showme-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 7s, opacity 7s;
}

.showme-right {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 7s, opacity 7s;
}

.clickhere:hover + .showme-left {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s, opacity 0.5s;
}

.clickhere:hover + .showme-right {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.5s, opacity 0.5s;
}
/* end card animation */